html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    background-image: url("../images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
h1{
    text-align: center;    
}

header{
       
        text-align: center;
        color: rgb(0, 0, 0);
        background-color: rgb(116, 33, 111);
        width: 100%;
        padding: 25px;
}

fieldset{
    border:solid purple;
}
hr{
    border:solid purple;
}

a{
    color: black;
}

*{
    margin: 0;
    border-radius: 20px;
}

.label{
    
        font-family: Georgia;
        width: 50%;
        padding: 20px;
        background-color: white;
        border: 0.8px solid #aaa;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 20px;
        border:solid purple;
    
}



input:valid + span::after{
    content:'✓';
    color: limegreen;
}

input:invalid + span::after{
    content:'✖';
    color:red;
}

button{
    padding: 5px;    
    text-align:center;    
}
