html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5rem;
    background-image: url("../images/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}
h1{
    text-align: center;    
}

header{
       
        text-align: center;
        color: rgb(0, 0, 0);
        background-color: rgb(116, 33, 111);
        width: 100%;
        padding: 25px;
    

}
img{
    
    position: relative;
    border-radius: 10px;
    border:solid purple;
    
}
footer{
    text-align: center;
}
fieldset{
    border:solid purple;
}
hr{
    border:solid purple;
}
*{
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a{
    color: purple;
}